# Desafio 3

Neste desafio, iremos praticar nossos conhecimentos sobre distribuições de probabilidade. Para isso,
dividiremos este desafio em duas partes:
    
1. A primeira parte contará com 3 questões sobre um *data set* artificial com dados de uma amostra normal e
    uma binomial.
2. A segunda parte será sobre a análise da distribuição de uma variável do _data set_ [Pulsar Star](https://archive.ics.uci.edu/ml/datasets/HTRU2), contendo 2 questões.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Setup_ geral

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as sct
import seaborn as sns
from statsmodels.distributions.empirical_distribution import ECDF

In [ ]:
## %matplotlib inline
#
#from IPython.core.pylabtools import figsize
#
#
#figsize(12, 8)
#
#sns.set()

In [4]:
df = pd.DataFrame({"normal": sct.norm.rvs(20, 4, size=10000),
                     "binomial": sct.binom.rvs(100, 0.2, size=10000)})

In [5]:
df.normal.values

array([17.45144861, 22.08980105, 23.90362149, ..., 16.5752277 ,
        8.32709343, 13.74017257])

In [6]:
ecdf =ECDF(df.normal.values)

In [7]:
values_list = ecdf([df.describe()['normal']['mean'] - df.describe()['normal']['std'], 
    df.describe()['normal']['mean'] + df.describe()['normal']['std']])
(values_list[1] - values_list[0]).round(3)

0.682

In [8]:
[df.describe()['normal']['mean'] - df.describe()['normal']['std'], 
    df.describe()['normal']['mean'] + df.describe()['normal']['std']]

[15.986292448882311, 24.007826938819164]

## Parte 1

### _Setup_ da parte 1

In [67]:
np.random.seed(42)
    
df = pd.DataFrame({"normal": sct.norm.rvs(20, 4, size=10000),
                     "binomial": sct.binom.rvs(100, 0.2, size=10000)})

## Inicie sua análise a partir da parte 1 a partir daqui

In [10]:
df.describe()

             normal      binomial
count  10000.000000  10000.000000
mean      19.991456     20.097000
std        4.013850      4.041191
min        4.310399      6.000000
25%       17.309638     17.000000
50%       19.989620     20.000000
75%       22.684324     23.000000
max       35.704951     36.000000

In [11]:
# Sua análise da parte 1 começa aqui.
    
((df.describe()['normal'] - df.describe()['binomial'])['25%'].round(2),
 (df.describe()['normal'] - df.describe()['binomial'])['50%'].round(2),
 (df.describe()['normal'] - df.describe()['binomial'])['75%'].round(2))

(0.31, -0.01, -0.32)

## Questão 1

Qual a diferença entre os quartis (Q1, Q2 e Q3) das variáveis `normal` e `binomial` de `dataframe`? Responda como uma tupla de três elementos arredondados para três casas decimais.

Em outra palavras, sejam `q1_norm`, `q2_norm` e `q3_norm` os quantis da variável `normal` e `q1_binom`, `q2_binom` e `q3_binom` os quantis da variável `binom`, qual a diferença `(q1_norm - q1 binom, q2_norm - q2_binom, q3_norm - q3_binom)`?

In [64]:
def q1():
    
    dif_desc = df.describe()['normal'] - df.describe()['binomial']
    return (dif_desc['25%'].round(3),
             dif_desc['50%'].round(3),
             dif_desc['75%'].round(3))
q1()

(0.31, -0.01, -0.316)

Para refletir:

* Você esperava valores dessa magnitude?

* Você é capaz de explicar como distribuições aparentemente tão diferentes (discreta e contínua, por exemplo) conseguem dar esses valores?

## Questão 2

Considere o intervalo $[\bar{x} - s, \bar{x} + s]$, onde $\bar{x}$ é a média amostral e $s$ é o desvio padrão. Qual a probabilidade nesse intervalo, calculada pela função de distribuição acumulada empírica (CDF empírica) da variável `normal`? Responda como uma único escalar arredondado para três casas decimais.

In [82]:
df.describe()

             normal      binomial
count  10000.000000  10000.000000
mean      19.991456     20.097000
std        4.013850      4.041191
min        4.310399      6.000000
25%       17.309638     17.000000
50%       19.989620     20.000000
75%       22.684324     23.000000
max       35.704951     36.000000

In [81]:
def q2():
    
    ecdf =ECDF(df.normal)
    mean = df.normal.mean()
    std = df.normal.std()
    
    values_list = ecdf([ mean - std, mean + std])
    return float((values_list[1] - values_list[0]).round(3))
q2()

0.684

Para refletir:

* Esse valor se aproxima do esperado teórico?
* Experimente também para os intervalos $[\bar{x} - 2s, \bar{x} + 2s]$ e $[\bar{x} - 3s, \bar{x} + 3s]$.

## Questão 3

Qual é a diferença entre as médias e as variâncias das variáveis `binomial` e `normal`? Responda como uma tupla de dois elementos arredondados para três casas decimais.

Em outras palavras, sejam `m_binom` e `v_binom` a média e a variância da variável `binomial`, e `m_norm` e `v_norm` a média e a variância da variável `normal`. Quais as diferenças `(m_binom - m_norm, v_binom - v_norm)`?

In [52]:
df.describe()

             normal      binomial
count  10000.000000  10000.000000
mean      19.991456     20.097000
std        4.013850      4.041191
min        4.310399      6.000000
25%       17.309638     17.000000
50%       19.989620     20.000000
75%       22.684324     23.000000
max       35.704951     36.000000

In [56]:
def q3():

    m_norm, v_norm  = df.normal.mean(), df.normal.var()
    m_binom, v_binom = df.binomial.mean(), df.binomial.var()
    return tuple(np.round([m_binom - m_norm, v_binom - v_norm], 3))

In [57]:
q3()

(0.106, 0.22)

Para refletir:

* Você esperava valore dessa magnitude?
* Qual o efeito de aumentar ou diminuir $n$ (atualmente 100) na distribuição da variável `binomial`?

## Parte 2

### _Setup_ da parte 2

In [23]:
stars = pd.read_csv("pulsar_stars.csv")

stars.rename({old_name: new_name
              for (old_name, new_name)
              in zip(stars.columns,
                     ["mean_profile", "sd_profile", "kurt_profile", "skew_profile", "mean_curve", "sd_curve", "kurt_curve", "skew_curve", "target"])
             },
             axis=1, inplace=True)

stars.loc[:, "target"] = stars.target.astype(bool)

## Inicie sua análise da parte 2 a partir daqui

In [50]:
# Sua análise da parte 2 começa aqui.
stars

,mean_profile,sd_profile,kurt_profile,skew_profile,mean_curve,sd_curve,kurt_curve,skew_curve,target
0,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,False
1,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,False
2,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,False
3,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,False
4,93.570312,46.698114,0.531905,0.416721,1.636288,14.545074,10.621748,131.394004,False
...,...,...,...,...,...,...,...,...,...
17892,136.429688,59.847421,-0.187846,-0.738123,1.296823,12.166062,15.450260,285.931022,False
17893,122.554688,49.485605,0.127978,0.323061,16.409699,44.626893,2.945244,8.297092,False
17894,119.335938,59.935939,0.159363,-0.743025,21.430602,58.872000,2.499517,4.595173,False
17895,114.507812,53.902400,0.201161,-0.024789,1.946488,13.381731,10.007967,134.238910,False
17896,57.062500,85.797340,1.406391,0.089520,188.306020,64.712562,-1.597527,1.429475,False

## Questão 4

Considerando a variável `mean_profile` de `stars`:

1. Filtre apenas os valores de `mean_profile` onde `target == 0` (ou seja, onde a estrela não é um pulsar).
2. Padronize a variável `mean_profile` filtrada anteriormente para ter média 0 e variância 1.

Chamaremos a variável resultante de `false_pulsar_mean_profile_standardized`.

Encontre os quantis teóricos para uma distribuição normal de média 0 e variância 1 para 0.80, 0.90 e 0.95 através da função `norm.ppf()` disponível em `scipy.stats`.

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()  
Quais as probabilidade associadas a esses quantis utilizando a CDF empírica da variável `false_pulsar_mean_profile_standardized`? Responda como uma tupla de três elementos arredondados para três casas decimais.

In [91]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

mean_profile = stars[stars.target == 0]['mean_profile'].values.reshape(-1, 1)
false_pulsar_mean_profile_standardized = scaler.fit_transform(mean_profile).flatten()

ecdf =ECDF(false_pulsar_mean_profile_standardized.flatten())

quantiles_list_normal = sct.norm.ppf([0.8,0.9, 0.95], loc=0, scale=1)

In [85]:
 np.quantile(false_pulsar_mean_profile_standardized, q = [0.8, 0.9, 0.95])

array([0.82473559, 1.23143454, 1.55996343])

In [93]:
ecdf =ECDF(false_pulsar_mean_profile_standardized.flatten())

In [58]:
from sklearn.preprocessing import StandardScaler

def q4():
    # Retorne aqui o resultado da questão 4.
    scaler = StandardScaler()
    
    mean_profile = stars[stars.target == 0]['mean_profile'].values.reshape(-1, 1)
    false_pulsar_mean_profile_standardized = scaler.fit_transform(mean_profile).flatten()

    ecdf =ECDF(false_pulsar_mean_profile_standardized.flatten())

    quantiles_list_normal = sct.norm.ppf([0.8,0.9, 0.95], loc=0, scale=1)
    return tuple(ecdf(quantiles_list_normal).round(3))
q4()

(0.806, 0.911, 0.959)

Para refletir:

* Os valores encontrados fazem sentido?
* O que isso pode dizer sobre a distribuição da variável `false_pulsar_mean_profile_standardized`?

## Questão 5

Qual a diferença entre os quantis Q1, Q2 e Q3 de `false_pulsar_mean_profile_standardized` e os mesmos quantis teóricos de uma distribuição normal de média 0 e variância 1? Responda como uma tupla de três elementos arredondados para três casas decimais.

In [63]:
def q5():
    # Retorne aqui o resultado da questão 5.
    mean_profile = stars[stars.target == 0]['mean_profile'].values.reshape(-1, 1)
    false_pulsar_mean_profile_standardized = scaler.fit_transform(mean_profile).flatten()
    
    quantiles_list_normal = sct.norm.ppf([0.25,0.5,0.75], loc=0, scale=1)
    quantiles_list_pulsar = np.quantile(false_pulsar_mean_profile_standardized, q = [0.25,0.5,0.75])
    
    return tuple((quantiles_list_pulsar- quantiles_list_normal).round(3))
q5()

(0.027, 0.04, -0.004)

Para refletir:

* Os valores encontrados fazem sentido?
* O que isso pode dizer sobre a distribuição da variável `false_pulsar_mean_profile_standardized`?
* Curiosidade: alguns testes de hipóteses sobre normalidade dos dados utilizam essa mesma abordagem.